<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx" 
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx.xsd">

	<context:component-scan base-package="com.techoffice.example" />
	<tx:annotation-driven transaction-manager="txManager"/>

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="org.h2.Driver"/>
        <property name="url" value="jdbc:h2:~/test"/>
        <property name="username" value="sa"/>
        <property name="password" value=""/>
    </bean>
    
	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
	    <property name="dataSource" ref="dataSource"/>
	</bean>
	
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<constructor-arg ref="dataSource"/>
	</bean>
	
	<!-- Execute script for Creating Quartz Scheduler Table-->
	<bean id="dbInit" class="org.springframework.jdbc.datasource.init.ResourceDatabasePopulator">
		<property name="scripts">
			<list>
				<value>tables_h2.sql</value>
			</list>
		</property>
		<property name="continueOnError" value="true"/>
	</bean>
	<bean class="org.springframework.jdbc.datasource.init.DataSourceInitializer">
		<property name="dataSource" ref="dataSource"/>
		<property name="databasePopulator"><ref bean="dbInit"/></property>
	</bean>
	
	<!-- Define Jobs -->
	<bean name="simpleJobDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
    	<property name="jobClass" value="com.techoffice.example.job.SimpleJob"/>
	</bean>

	<!-- Define Triggers -->
	<bean id="simpleTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
    	<property name="jobDetail" ref="simpleJobDetail"/>
    	<!-- Time of Start delay in ms -->
    	<property name="startDelay" value="1000"/>
    	<!-- Repeat Interval in ms -->
    	<property name="repeatInterval" value="5000"/>
	</bean>
	
	<!-- Define the scheduler -->
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
	    <property name="configLocation" value="classpath:quartz.properties"/>
	    <property name="dataSource" ref="dataSource"/>
	    <property name="transactionManager" ref="txManager"/>
		<property name="applicationContextSchedulerContextKey" value="applicationContext"/>
	    <property name="triggers">
	        <list>
	            <ref bean="simpleTrigger"/>
	        </list>
	    </property>
	</bean>
	
	
</beans>
