<?xml version="1.0" encoding="UTF-8"?>
<config>
	<prefix>A</prefix>
	<tableAlias>TST</tableAlias>
	<schema>BES</schema>
	<tableName>${prefix}_${tableAlias}_TEST</tableName>
	
	<auditTable>
		<schema>BESAUDIT</schema>
		<tableName>AT_A_TST</tableName>
		<id>
			<column>${tableAlias}_AT_SEQ_NO</column>
			<value>(select ${tableAlias}_AT_SEQ_NO from dual)</value>
			<sequence>${tableAlias}_ID_SEQ</sequence>	
			<size>15</size>
		</id>
		<type>
			<column>${tableAlias}_AT_IMAGE_TYP</column>
			<size>1</size>
		</type>
		<user>
			<column>${tableAlias}_AT_USER</column>
			<value>SYSTEM</value>
			<size>15</size>
		</user>
		<progId>
			<column>${tableAlias}_AT_PROG_ID</column>
			<value>Testing</value>
			<size>30</size>
		</progId>
		<executionTime>
			<column>${tableAlias}_AT_ACTION_DTT</column>
			<value>SYSDATE</value>
		</executionTime>
	</auditTable>
	
	<trigger>
		<insert>
			<name>TEST_CREATE_TRIGGER</name>
		</insert>
		<update>
			<name>TEST_UPDATE_TRIGGER</name>
		</update>
		<delete>
			<name>TEST_DELETE_TRIGGER</name>
		</delete>
	</trigger>
	
</config>