<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
  
<mapper namespace="com.techoffice.dao.Table1Dao">
	
	<resultMap id="baseResultMap" type="com.techoffice.model.BaseTable">

	</resultMap>
	
	<resultMap id="resultMap" type="com.techoffice.model.Table1" extends="baseResultMap">

	</resultMap>
	
	<select id="select" resultMap="resultMap">
		SELECT * FROM TABLE1
	</select>
	
</mapper>