<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:batch="http://www.springframework.org/schema/batch" 
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/batch
        http://www.springframework.org/schema/batch/spring-batch-2.2.xsd">

	<!-- Auto-Scan Spring Bean -->
	<context:component-scan base-package="com.techoffice" />
	<bean class="com.techoffice.factory.WebClientBeanFactory"/>

	<!-- Database Connection Pool Datasource -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="org.h2.Driver" />
		<property name="url" value="jdbc:h2:~/StockAnalysisYahoo" />
		<property name="username" value="sa" />
		<property name="password" value="" />
		<property name="maxActive" value="20" />
	</bean>

	<!-- 
		Using org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean 
		instead of LocalSessionFactoryBean to Support Annotation
		
		- LocalSessionFactoryBean: create Hibernate's Session which could be inject into DAO class
		- HibernateTransactionManager: provide support for the sessionFactory. @Transactional could be used in the DAO to manage transaction
		
	 -->
	<bean id="entityManagerFactoryBean" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />
		</property>
		<property name="jpaProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.H2Dialect</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
	</bean>
	
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactoryBean"/>
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager"/>
	
	<!-- Spring Batch -->
	<bean class="org.springframework.batch.core.repository.support.MapJobRepositoryFactoryBean">
		<property name="transactionManager" ref="transactionManager" />
	</bean>

	<bean id="jobLauncher"
		class="org.springframework.batch.core.launch.support.SimpleJobLauncher">
		<property name="jobRepository" ref="jobRepository" />
		<property name="taskExecutor">
			<bean class="org.springframework.core.task.SimpleAsyncTaskExecutor" />
		</property>
	</bean>
	
	<bean id="stockReader" class="com.techoffice.yahoo.finance.stock.batch.StockReader" scope="step">
		<property name="stockList" value="#{stepExecutionContext[stockList]}"/>
	</bean>
	<bean id="stockWriter" class="com.techoffice.yahoo.finance.stock.batch.StockWriter" />
	<bean id="stockProcessor" class="com.techoffice.yahoo.finance.stock.batch.StockProcessor" />
	<bean id="stockPartitioner" class="com.techoffice.yahoo.finance.stock.batch.StockPartitioner" />
	
	<bean id="taskExecutor" class="org.springframework.core.task.SimpleAsyncTaskExecutor" />
	
	<batch:job id="updateHistoryPriceJob">
		<batch:step id="step1">
			<batch:partition step="updateHistoryPriceStep" partitioner="stockPartitioner">
				<batch:handler grid-size="10" task-executor="taskExecutor"/>
			</batch:partition>
		</batch:step>
	</batch:job>
	
	<batch:step id="updateHistoryPriceStep">
		<batch:tasklet>
			<batch:chunk reader="stockReader" writer="stockWriter"
				processor="stockProcessor" commit-interval="5"/>
		</batch:tasklet>
	</batch:step>
	
	<bean id="stepScope" class="org.springframework.batch.core.scope.StepScope">
    	<property name="autoProxy" value="true"/>
	</bean>
	
	
</beans>
